.autocomplete {
  position: relative;
  display: flex;
  right: 220px;
}

.autocomplete-input {
  border-radius: 1px;
  border: none;
  height: 28px !important;
  width: 230px !important;
  padding-left: 26px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  margin:auto;
  font-size: 0.9rem;
  letter-spacing: 0.025em;
  line-height: 0.95rem;
  top: 3px;
  /* background-image: url(./components/Autocomplete/search.dddddd.png); */
  background-image: url(./search.png);
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: 8px 7px;
  background-origin: border-box;
  /* background-color: #525252; */
  background-color: rgb(230, 230, 230);
  /* color: white; */
  color: black;
  letter-spacing: 0.01em;
}

.autocomplete-input:focus { 
  outline: none;
  font-size: 0.9rem;
  letter-spacing: 0.025em;
  line-height: 0.95rem;
}

.autocomplete-input::placeholder {
  position: relative;
  font-size: 0.9rem;
  letter-spacing: 0.025em;
  line-height: 0.95rem;
  left: 4px;
  top: 0px;
}

.autocomplete-input:focus::placeholder { 
  position: relative;
  left: 4px;
  top: 0px;
}

.suggestions {
  z-index: 10000;
}

.suggestions ul {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 230px;
  max-height: 250px;
  border: 1px solid #222;
  border-top-width: 1px;
  border-radius: 1px;
  list-style: none;
  overflow-y: auto;
  padding-left: 0;
  margin: 0;
  background-color: white;
  font-size: 0.8em;
}

.suggestions li {
  text-align: left;
  padding: 0.75rem;
  line-height: 1.35em;
  color: rgb(20,20,20);
}

.suggestion-active,
.suggestions li:hover {
  background-color: #6d6ca5;
  color: #ffffff !important;
  cursor: pointer;
  text-align: left;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}

.suggestion-name {
  font-weight: 600;
  font-size: 1.2em;
}

.suggestion-description {
  font-weight: 400;
  font-size: 0.9em;
}

.suggestion-location, .suggestion-strand {
  font-weight: 400;
}