.selected-modal-simsearch-list {
  list-style-type: none;
  margin: 0px;
  /* min-height: 50%; */
}

.selected-modal-simsearch-item {
  cursor: pointer;
  height: 5%;
}

.selected-modal-simsearch-list-container {
  position: absolute;
  width: 380px;
  height: auto;
  bottom: 180px;
  right: 550px;
  background-color: white;
  border: solid black 2px;
  border-radius: 5px;
  z-index: 1;
  padding: 5px 5px 10px 5px;
}

.conv-svg {
  position: absolute;
}