.selected-modal-simsearch-list {
  list-style-type: none;
  margin: 0px;
}

.selected-modal-simsearch-item {
  margin: -5px;
  cursor: pointer;
}

.selected-modal-simsearch-list-container {
  position: relative;
  max-height: 650px;
  z-index: 0;
}

.conv-svg {
  position: absolute;
}