.selected-modal-simsearch-list {
  list-style-type: none;
  margin: 0px;
  /* min-height: 50%; */
}

.selected-modal-simsearch-item {
  cursor: pointer;
  height: 5%;
}

.selected-modal-simsearch-list-container {
  /* position: absolute; */
  position: relative;
  /* max-height: 650px; */
  /* top: 20%; */
  /* top: 175px; */
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  z-index: 0;
}

.conv-svg {
  position: absolute;
}