
.power-prototype {
  display: flex;
  flex-direction: column;
  width: auto;
}

.power-prototype .power-container {
  display: flex;
  flex-direction: row;
}
.power-prototype .power-canvas {
  border: 1px solid lightgray;
}
.power-prototype .scroll {
  margin-left: 24px;
  overflow-y: hidden;
  position: relative;
}
.power-prototype .power-order {
  position: absolute;
}
.power-prototype .power input {
  width: 100%;
}
.power-prototype .power-canvas-1d {
  border: 1px solid lightgray;
}
.power-prototype .power-canvas-strip {
  margin-top: 4px;
  border: 1px solid lightgray;
}