
.power {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.factor-label {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 8px;
  text-align: center;
  height: 25px;
}

.power-container {
  display: flex;
  flex-direction: row;
}
.power .power-canvas {
  border: 1px solid lightgray;
}
.power .power-scroll {
  margin-left: 24px;
  overflow-y: hidden;
  position: relative;
}
.power .power-order {
  position: absolute;
}
.power .power input {
  width: 100%;
}
.power .power-canvas-1d {
  border: 1px solid lightgray;
}
.power .power-canvas-strip {
  margin-top: 4px;
  border: 1px solid lightgray;
}
.power .power-canvas-genes {
  margin-top: 4px;
  border: 1px solid lightgray;
}

.power .power-loading {
  position: absolute;
  top: 120px;
  left: 100px;
  font-size: 24px;
}