.sankey-modal {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 6px 6px 12px 6px;
  height: calc(100% - 40px);
  z-index: 11
}
.sankey-modal.hide {
  display: none;
}

.sankey-modal .loading-info {
  height: 100px;
  max-height: 100px;
  width: 400px;
  max-width: 400px;
}

.sankey-modal .line-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.sankey-modal .line-column h4 {
  margin: 0px;
}
.sankey-modal .csn-lines {
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow-x: auto;
}
/* .sankey-modal .sankey-container {
  margin-top: 100px;
} */

.sankey-modal .loading-csns {
  animation: loadingAnimation 1.5s infinite;
}
@keyframes loadingAnimation {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.15;
  }
}

.sankey-modal .view-options, .sankey-modal .sort-options {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  border: 1px solid lightgray;
}

.sankey-modal .only-top-factor, .sankey-modal .in-both, .sankey-modal .only-top-full {
  margin: 4px;
}