.sankey-modal {
  position: relative;
  bottom: 1px;
  /* right: 105px; */
  background-color: rgba(255, 255, 255, 0.95);
  height: calc(100% - 5px);
  z-index: 9
}
.sankey-modal:hover {
  z-index: 10;
}

.sankey-modal .content {
  width: 400px;
}

.hide {
  display: none !important;
}

.sankey-modal .control-buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: -55px;
  top: 0px;
}

.sankey-modal .controls {
  position: absolute;
  top: 40px;
  background-color: rgba(255, 255, 255, 0.85);
  /* width: 400px; */
  /* max-width: 400px; */
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}

.sankey-modal .view-options, .sankey-modal .sort-options, .num-paths {
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px;
  /* border: 1px solid lightgray; */
} 

/* .sankey-modal .controls label {
  margin-left: 10px;
  padding: 5px;
} */

.sankey-modal .loading-info {
  width: 400px;
  position:absolute;
}

.sankey-modal .line-column {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.sankey-modal .line-column h4 {
  margin: 0px;
}
.sankey-modal .csn-lines {
  display: flex;
  flex-direction: row;
  gap: 0px;
  overflow-x: auto;
}
/* .sankey-modal .sankey-container {
  margin-top: 100px;
} */

.sankey-modal .loading-csns {
  animation: loadingAnimation 1.5s infinite;
}
@keyframes loadingAnimation {
  0% {
    opacity: 0.15;
  }
  50% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.15;
  }
}


.sankey-modal .only-top-factor, .sankey-modal .in-both, .sankey-modal .only-top-full {
  margin: 4px;
}