.selected-modal-narration-container {
  position: absolute;
  top: 0px;
  left: 275px;
  margin: 5px 5px 0px 5px;
  padding: 10px 5px 0px 5px;
  height: 70px;
  line-height: 1.2;
  /* border: 2px solid black;
  border-radius: 5px; */
}

.selected-modal-narration-sentence {
  font-size: 18px;
  margin: 5px;
  vertical-align: middle;
}

.selected-modal-narration-header {
  font-weight: 600;
  /* margin-top: 10px; */
}


