.filter-page {
  display: grid;
  grid-template-columns: [left-col] [right-col] 230px [end-col];
  grid-template-rows: [header] max-content [content] 1fr [footer] max-content [end];
  height: 100vh;
  max-width: 100%;
}

.filter-page .header {
  box-sizing: border-box;
  display: flex;
  column-gap: 14px;
  padding: 14px;
}

.filter-page .header--brand {
  flex: 0 0 auto;
}

.filter-page .header--navigation {
  flex: 1 0 auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.filter-page .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;
  width: 100%;
  max-width: 100%;
  overflow: auto;
}


.filter-page .content .section {
  border: 1px solid #e0e0e0;
}

.filter-page .content .section .section-content {
  padding: 14px;
}

.filter-page .content .section h3 {
  padding: 4px 14px;
  margin: 0;
  background: #f0f0f0;
}


/* Filter Order Component */
.filter-order {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.filter-order .order-label {
  line-height: 38px;
  margin: 0 4px;
  width: 70px;
  font-family: monospace;
}

.filter-page .filter-group {
  width: 600px;
}


.filter-order .layer {
  border: 1px solid gray;
  padding: 2px 4px;
  margin: 6px;
}
.filter-order .layer .layer-name {
  font-weight: bold;
}
.filter-order .layer .layer-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.filter-page .selected-field {
  margin: 6px;
  padding: 6px 6px;
  border-radius: 4px;
  background: #f0f0f0;
}

.filter-page .order-sums-table {
  width: 90%;
  border-collapse: collapse;
}
.filter-page .order-sums-table th {
  border-bottom: 1px solid #000;
}
.filter-page .order-sums-table td {
  padding: 2px;
  border: 1px solid gray;
}
.filter-page .by-chromosome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
.filter-page .chromosome-paths {
  margin: 6px;
  padding: 6px;
  border: 1px solid gray;
  width: 400px;
}
.filter-page .chromosome-paths .chromosome-regions {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 4px;
}

.filter-page .csn-lines {
  display: flex;
  flex-direction: row;
  gap: 1px;
  overflow-x: auto;
}

