.footer-panel-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align content to the left within the left panel */
}
.footer-panel-left label {
  padding: 5px;
}

.footer-panel-left label {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;

}