.region-sets {
  display: grid;
  grid-template-columns: [left-col] [right-col] 230px [end-col];
  grid-template-rows: [header] max-content [content] 1fr [footer] max-content [end];
  height: 100vh;
}

.region-sets .header {
  box-sizing: border-box;
  display: flex;
  column-gap: 14px;
  padding: 14px;
}

.region-sets .header--brand {
  flex: 0 0 auto;
}

.region-sets .header--navigation {
  flex: 1 0 auto;
}

.region-set .content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 14px;
}
