

.umap-grid {
  display: grid;
  grid-template-columns: 1fr 0;
  /* grid-template-rows: [header] max-content [content] 1fr [footer] max-content [end]; */
  grid-template-rows: [header] max-content 1fr 100px;
  height: 100vh;
}

.umap-grid .content {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.umap-grid .umap-container {
  width: fit-content;
  height: 100%;
  overflow: hidden;
  min-width: 0;
  background-color: #111;
}
.umap-grid .hilbert-container {
  width: fit-content;
  height: 100%;
  overflow: hidden;
  min-width: 0;
}

.umap-grid .loading {
  font-size: 200px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.umap-grid .zoom-legend-container {
  width: 150px;
  flex-grow: 1;
  overflow: auto;  
  min-height: 0;
}

.umap-grid .selected-region {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.umap-grid .selected-region .position {
  display: inline-block;
  width: 350px;
  max-width: 350px;
}

.umap-grid .selected-region .annotations {
  display: inline-flex;
  flex-direction: row;
  gap: 6px;
}
.umap-grid .annotations .annotation {
  width: 300px;
  max-width: 300px;
}

.umap-grid .selected-popup {
  position: absolute;
  bottom: 95px;
  left: 0;
  width: calc(100% - 10px);
  height: 200px;
  z-index: 100;
  padding: 6px;
  background-color: rgba(235, 235, 235, 0.8);
  overflow-y: auto;
}


.umap-grid .selected-popup button {
  padding: 6px;
  margin: 6px;
}