.filter-modal {
  position: absolute;
  bottom: 5px;
  right: 418px;
  background-color: rgba(255, 255, 255, 0.90);
  border: 1px solid lightgray;
  border-right: none;
  border-radius: 6px;
  padding: 6px 6px 12px 6px;
  max-width: 240px;
  width: 240px;
  height: calc(100% - 40px);
  z-index: 10
}

.filter-modal.hide {
  display: none;
}

.filter-modal .filter-results {
  height: 26px;
}
.filter-modal .select-factor {
  margin-bottom: 12px;
}
