
/*  */
.selects .select-factor {
  display: flex;
  flex-direction: row;
  gap: 4px;
  margin: 6px 0;
}
/* Filter Fields Component */
.selects .filter-fields {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

/* Filter Order Component */
.selects .filter-order {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.selects .filter-order .order-label {
  line-height: 38px;
  margin: 0 4px;
  width: 40px;
  font-family: monospace;
  text-align: right;
}
.selects .filter-order .button-column {
  width: 30px;
}
.selects .filter-order .disabled {
  color: gray;
  line-height: 38px;
  margin: 0 4px;
}
.selects .filter-order .deselect {
  color: gray;
  width: 30px;
  padding: 2px 4px;
  line-height: 32px;
}
.selects .filter-order .select {
  width: 30px;
  padding: 2px 4px;
  line-height: 32px;
}

.selects .filter-group {
  /* width: 600px; */
}


.selects .filter-order .layer {
  border: 1px solid gray;
  padding: 2px 4px;
  margin: 6px;
}
.selects .filter-order .layer .layer-name {
  font-weight: bold;
}
.selects .filter-order .layer .layer-fields {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}