.powerOverlay {
  position: absolute;
  top: 0px;
  left: 510px;
  background-color: rgba(255, 255, 255, 0.99);
  border: 1px solid gold;
  border-radius: 6px;
  padding: 6px 6px 6px 6px;
  width: calc(100% - 520px);
  height: auto;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
}

.powerOverlay:hover {
  z-index: 11;
}

.minimized {
  display: none;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 6px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.csn {
  display: flex;
  flex-direction: row;
  gap: 12px;
  height: 100%;
}

/* contains the 2d map and the zoom controls */
.powerContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  max-width: 500px;
  flex-shrink: 0;
  padding: 12px;
}

/* .subpathContainer {
  display: flex;
  gap: 12px;
  max-width: 500px;
} */

.summaryContainer {
  flex-grow: 1;
}

.powerOverlaySelectedPoint {
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.powerOverlaySelectedData {
  margin-left: 5px;
  padding: 4px;
  border: 1px solid gray;
}

.powerOverlayOrder {
  padding: 0px 4px;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  user-select: none;
}

.close, .minimize {
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.minimize.active {
  background-color: #efefef;
}

.close:hover, .minimize:hover {
  background-color: lightgray;
}

.powerOverlay button {
  padding: 6px 6px;
  margin: 6px 0;
}

.csn .narrationSentence {
  padding: 4px 4px;
  margin: 4px 0px;
  border-radius: 5px;
}

.csn .zoomText {
  padding: 4px 4px;
  margin: 4px 0px;
}

.csnLine {
  margin-left: 4px;
}

.zoomScores {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.scoreBars {
  margin-left: 0px;
}

.scrollContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 500px;
  overflow-y: auto;
  gap: 5px;
}

.scrollButton {
  /* Add any specific styles for the scroll buttons */
}

.subregionFactorColor {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 4px;
}