.legend-box {
  position: absolute;
  display: flex;
  left: 10px;
  margin: 10px;
  bottom: 165px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  opacity: 0.9;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.legend-label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: -10px;
}

ul#factor-list {
  list-style-type: none; /* Removes default bullets */
  padding-left: 0;       /* Removes default padding */
  font-size: 12px;
}

ul#factor-list li {
  position: relative;    /* Enables positioning of child pseudo-elements */
  padding-left: 1em;   /* Makes space for custom bullet */
}

ul#factor-list li::before {
  content: "";           /* Necessary for pseudo-element */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);  /* Centers square vertically with text */
  width: 0.8em;            /* Makes a square */
  height: 0.8em;
  background-color: var(--bullet-color, black);  /* Uses a CSS variable for the color, defaulting to black */
  border: 1px solid black;
}