.legend-box {
  position: absolute;
  z-index: 100;
  left: 10px;
  margin: 10px;
  bottom: 10px;
  background-color: white;
  opacity: 0.9;
  border: 2px solid black;
  border-radius: 10px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
  min-width: 120px;
  min-height: 30px;
}

.container-close-button, .container-close-button:hover, .container-close-button:focus, .container-open-button, .container-open-button:hover, .container-open-button:focus {
  position: absolute;
  width: 0px;
  height: 0px;
  padding: 0px;
  border: 15px solid black;
  outline: transparent;
  right: 5%;
}

.container-close-button, .container-close-button:hover, .container-close-button:focus {
  border-color: black transparent transparent transparent;
  top: 10px;
}

.container-open-button, .container-open-button:hover, .container-open-button:focus {
  border-color: transparent transparent black transparent;
  top: 0px;
}

.legend-label {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

ul#factor-list {
  list-style-type: none; /* Removes default bullets */
  padding-left: 0;       /* Removes default padding */
  font-size: 12px;
  margin-top: -5px;;
}

ul#factor-list li {
  position: relative;    /* Enables positioning of child pseudo-elements */
  padding-left: 1em;   /* Makes space for custom bullet */
  cursor: pointer;
}

ul#factor-list li::before {
  content: "";           /* Necessary for pseudo-element */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);  /* Centers square vertically with text */
  width: 0.8em;            /* Makes a square */
  height: 0.8em;
  background-color: var(--bullet-color, black);  /* Uses a CSS variable for the color, defaulting to black */
  border: 1px solid black;
}

ul#factor-list li::after {
  content: var(--checkmark, "");
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  display: inline-block;
  margin-left: 2px;
}