.lens-modal {
  position: absolute;
  left: 15px;
  line-height: 20px;
  display: flex;
  margin: 10px 0px 0px 0px;
  height: 100px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  /* opacity: 0.5; */
  border: 2px solid black;
  border-radius: 10px;
}

.lens-header {
  font-size: 18px;
}

.lens-modal-lenses {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.lens-button {
  position: relative;
  height: 100%;
  max-width: 100px;
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid;
  /* opacity: 1; */
}