
.lens-modal {
  position: absolute;
  left: 0px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 5px 10px;
}

.lens-modal-lenses {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.lens-button {
  width: 100%;
  margin: 5px;
  padding: 5px;
  background-color: lightgrey;
  border: 2px solid;
}