
.lens-modal {
  position: absolute;
  right: 0px;
  line-height: 30px;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  box-shadow: -2px 2px 2px 0px rgba(0,0,0,0.25);
  padding: 5px;
}

.lens-modal-lenses {
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
.lens-button {
  width: 100%;
  margin-top: 5px;
  background-color: lightgrey;
  border: 2px solid;
}