/* TODO: fix the margins!! */

.linear-tracks {
  max-width: fit-content;
  line-height: 0px;
}

.linear-tracks .annotations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linear-track {
  max-width: fit-content;
  margin: 0px;
}

.linear-track-canvas {
  /* margin: 0px 10px -8px 5px; */
}

