
.linear-tracks {
  max-width: fit-content;
  padding: 2px;

  
}
.linear-tracks .annotations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.linear-tracks-canvases {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.linear-genome-canvas {
  border: 2px solid orange;

}