
.linear-tracks {
  max-width: fit-content;
  padding: 2px;

  
}
.linear-tracks .annotations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.linear-tracks-canvases {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px solid lightgray; */
}
.linear-genome-canvas {
  border: 1px solid lightgray;
  margin: 2px;
  padding: 0;

}