/* .loading {
  display: inline-block;
  animation: wave 1.5s infinite;
} */

@keyframes wave {
  0%, 100% {
    /* transform: scale(1); */
    font-size: 1em; /* Normal size */
    font-weight: normal; /* Normal weight */
  }
  50% {
    /* transform: scale(1.2s); */
    font-size: 1.2em; /* Bigger size */
    font-weight: bold; /* Bolder weight */
  }
}

.loading {
  display: flex;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.loading span {
  display: inline-block;
  /* animation: wave 1.5s infinite; */
}

.loading.emoji {
  padding: 4px;
  margin: 4px;  
  line-height: 1.5em;
}

.loading.error {
  color: red;
}

.spinner-div {
  margin: auto;
  margin-right: 4px;
  border: 2px solid #111;
  border-radius: 50%;
  border-top: 2px solid #eee;
  width: 20px;
  height: 20px;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}