
.selected-modal {
  position: absolute;
  top: 2px;
  right: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid black 2px;
  padding: 5px 5px 10px 5px;
  border-radius: 5px;
  max-width: 460px;
  height: auto;
  z-index: 1;
}
.selected-modal {

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 5px;
}
.selected-modal .header {

}

.selected-modal .selected-modal-selected {
  padding-left: 12px;
}

.selected-modal .selected-modal-selected-point {
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.selected-modal .selected-modal-selected-data {
  margin-left: 5px;
  padding: 4px;
  border: 1px solid gray;
}

.selected-modal .selected-modal-order {
  padding: 0px 4px;
}

.selected-modal .close {
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.selected-modal .close:hover {
  background-color: lightgray;
}

.selected-modal .csn .narration-sentence {
  padding: 4px 4px;
  border: 1px solid gray;
  margin: 4px 0px;
  border-radius: 5px;
}