
.selected-modal {
  position: absolute;
  top: 0px;
  right: 2px;
  background-color: rgba(255, 255, 255, 0.9);
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 6px 6px 12px 6px;
  max-width: 460px;
  width: 460px;
  height: auto;
  z-index: 1;
}
.selected-modal {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  padding: 5px;
}
.selected-modal .minimized {
  display: none;
}
.selected-modal .header {
  padding: 6px;
}
.selected-modal .controls {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 6px;
}
.selected-modal .selected-modal-selected {
}

.selected-modal .selected-modal-selected-point {
  margin-left: 5px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.selected-modal .selected-modal-selected-data {
  margin-left: 5px;
  padding: 4px;
  border: 1px solid gray;
}

.selected-modal .selected-modal-order {
  padding: 0px 4px;
}

.selected-modal .header-buttons {
  display: flex;
  flex-direction: row;
  gap: 4px;
  user-select: none;
}
.selected-modal .close, .selected-modal .minimize{
  padding: 3px 8px;
  border-radius: 5px;
  border: 1px solid lightgray;
  cursor: pointer;
}
.selected-modal  .minimize.active{
  background-color: #efefef;
}
.selected-modal .close:hover, .selected-modal .minimize:hover{
  background-color: lightgray;
}

.selected-modal .csn .narration-sentence {
  padding: 4px 4px;
  border: 1px solid gray;
  margin: 4px 0px;
  border-radius: 5px;
}