.settings-panel {
  position: fixed;
  bottom: 50px;
  width: 100%;
  background-color: #eee;
  border-top: 1px solid lightgray;
  justify-content: space-between;
  flex-grow: 1;
  padding: 6px;
  display: flex; /* Add display:flex to center content vertically */
  flex-direction: column; /* Stack content vertically within panels */
}


.settings-panel-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align content to the left within the left panel */
}

.settings-panel label {
  border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;

}

