
.status-bar {
  height: 60px;
  line-height: 25px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;

}
.status-bar .status-bar-row {
  padding: 1px 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.status-bar .status-bar-hover {
  width: 650px;
  max-width: 650px;
}
.status-bar .status-bar-hover-point {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.status-bar .status-bar-hover-data {
  margin-left: 5px;
  padding: 4px;
  border: 1px solid gray;
}

.status-bar .status-bar-order {
  padding: 0px 4px;
}