
.status-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid lightgray;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: column;
  background-color: #eee;
  margin: 0;
  padding: 0;
}
.status-bar .status-bar-row {
  padding: 1px 5px;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.status-bar .filtered-regions {
  margin-left: 20px;
}

.status-bar .status-bar-row > :nth-child(2) {
  min-width: 270px;
}
.status-bar .status-bar-row > :nth-child(3) {
  flex-grow: 1;
  text-align: left;
}

.status-bar .status-bar-hover-point {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.status-bar .status-bar-hover-data {
  margin-left: 5px;
  padding: 4px;
  border: 1px solid gray;
}

.status-bar .settings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
}
.status-bar .settings .order-offset {
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 0 5px;
}
.status-bar .settings .order-offset span {
  padding: 0 6px;
}

.settings-button,
.debug-button,
.clear-button {
  /* border: 1px solid gray; */
  background: #eee;
  padding: 0px 12px;
  height: 38px;
}
.settings-button.active,
.debug-button.active {
  background: white;
  /* border: 1px solid blue; */
}

.status-bar .filter-button {
  /* border: 1px solid gray; */
  background: #eee;
}
.filter-button {
  padding: 0px 12px;
  height: 38px;
}
.filter-button.active {
  background: white;
  /* border: 1px solid blue; */
}