/* TODO: fix the margins!! */

.track-pyramid {
  max-width: fit-content;
  line-height: 0px;
  background-color: white;
  border: 1px solid white;
}

.track-pyramid .annotations {
  /* display: flex;
  flex-direction: row;
  justify-content: space-between; */
  position: relative;
  float: right;
  top: 10px;
  margin-left: 5px;
}

