
.zoom-legend {
  width: 100%;
}
.zoom-legend svg {
  max-width: fit-content;
}
/* .zoom-indicator {
  border: solid black 1px;
  border-right: transparent;
} */

.label-box{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 170px;
  border: solid black 1px;
  margin: 0px 0px 0px 0px;
  position: relative;
}
.basepair-size {
  text-align: left;
  margin-left: 5px;
  margin-top: 5px;
  /* padding-top: 8px; */
  /* top: 4px; */
  /* height: 50%; */
}
.dataset-label {
  /* height: 50%; */
  text-align: left;
  margin-left: 5px;
  font-size: 12px;
  /* margin-bottom: 10%; */
  /* vertical-align: top; */
}
.station {
  text-align: left;
  margin-left: 5px;
  font-size: 12px;
  /* margin-bottom: 10%; */
  /* vertical-align: top; */
}
.cross-scale-narration-layer, .cross-scale-narration-field  {
  font-size: 12px;
  margin-left: 5px;
}

.csn-box {
  position: absolute;
  right: 0px;
  bottom: 0px;
  /* margin: 5px; */
  border-width: 1px 0px 0px 1px;
  border-style: solid;
  border-color: black;
  padding: 0px 5px 0px 5px;
  font-size: small;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* line-height: 3; */
}