
.zoom-legend {
  width: 100%;
}
.zoom-legend svg {
  max-width: fit-content;
}
/* .zoom-indicator {
  border: solid black 1px;
  border-right: transparent;
} */

.label-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  border: solid black 1px;
  border-radius: 5px;
  margin: 5px 0px 5px 10px;
  /* border-left: transparent; */
}