
#root {
  padding: 12px;
}

/* APP styles */
.panels {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
}

.hilbert-container {
  width: 100%;
}

/*
HILBERT GENOME TEMPORARY STYLES
*/

.hilbert-genome {
  /* border: 1px solid black; */
  display: block;
}

.hilbert-genome-canvas {
  position: absolute;
  /* border: 2px solid orange; */

}
.hilbert-genome-svg {
  position:absolute;
  /* border: 1px solid blue; */
}

.hilbert-genome-svg {
  .hg-background-rect {
    fill: none;
    stroke: gray;
    stroke-width: 2px;
  }
}


.zoom-legend svg {
  max-width: fit-content;
}