
#root {
  /* padding: 10px; */
}

@font-face {
  font-family: 'Gilbert';
  /* src: url('fonts/Gilbert-Color Bold-Preview_1004.otf'); */
  /* src: url('fonts/Gilbert-Bold Preview5.otf'); */
  src: url('fonts/pricedown bl.ttf');
}

/* APP styles */
.panels {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  padding: 5px;
}

/* .................................... HEADER ................................ */

.header {
  display: flex;
  justify-content: space-between;
}

.header-panel {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

.title {
  width: 275px;
  font-size: 5em;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-top: -20px;
  font-family: 'Gilbert';
  padding: 5px;
  flex-shrink: 0; /* Prevents this panel from shrinking */
}

.narration {
  flex-grow: 1; /* Takes up remaining available space */
  max-width: calc(100% - 275px - 250px); /* Limits the width */
  overflow: hidden; /* Prevents content from overflowing */
  font-size: 18px;
}

.zoomto {
  flex-shrink: 0; /* Prevents this panel from shrinking */
  width: 250px;
}

/* .................................... FOOTER ................................ */

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-panel {
  flex-grow: 1;
  padding: 10px;
  box-sizing: border-box;
}

.footer-panel-left {
  justify-content: flex-start; /* Align content to the left within the left panel */
}

.footer-panel-right {
  justify-content: flex-end; /* Align content to the right within the right panel */
}

.zoom-legend {
  margin-right: 490px;
}

.hilbert-container {
  width: 100%;
}


