
#root {
  /* padding: 10px; */
}

@font-face {
  font-family: 'Gilbert';
  /* src: url('fonts/Gilbert-Color Bold-Preview_1004.otf'); */
  /* src: url('fonts/Gilbert-Bold Preview5.otf'); */
  src: url('fonts/pricedown bl.ttf');

}

.title {
  font-size: 5em;
  line-height: 1.1em;
  margin-bottom: 10px;
  margin-top: -20px;
  font-family: 'Gilbert';
  padding: 5px;
}
/* APP styles */
.panels {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: center;
  width: 100%;
  padding: 5px;
}

.zoom-legend {
  margin-right: 490px;
}

.zoomto {
  position: absolute;
  right: 543px;
  top: 35px;
}

.hilbert-container {
  width: 100%;
}


